@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

/* Setup body */

body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: rgb(41, 41, 41);
    color: rgb(89, 255, 141);
}

/* Setup for item in explain section */

.explain-item {
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 5%;
}

.explain-item p {
    font-family: 'Kanit', sans-serif !important;
}

/* Setup pre in code class */

.code pre {
    padding: 5%;
    background-color: gray;
    border-radius: 10px;
}

/* Change color of Horizontal Line */

hr {
    margin-top: 5%;
    border-style: none;
    border-bottom: 2px solid rgb(89, 255, 141);
    opacity: 0.2;
}

/* Setup for transitions example */

#trans-exam a {
    padding: 2%;
    background-color: red;
    color: white;
}

#trans-exam a:nth-child(3) {
    transition: background-color 0.5s ease-in;
}

#trans-exam a:hover {
    background-color: greenyellow;
}